.img-container-123 {
  width: 40%;
  padding: 1rem 0;

  img {
    width: 100%;
  }

  p {
    font-size: 1.5rem;
  }

  .file-upload {
    width: 100%;

    label {
      cursor: pointer;
    }

    input {
      display: none;
    }
  }
}
