/*Pricing*/
.pricing-123sa {
  width: 90%;
  margin: 1rem auto;
  input {
    width: 25%!important;
    margin: 0 10px;
  }
}

.term-of-use-cvs {
  width: 90%;
  margin: 1rem auto;
  display: flex;
  justify-content: start;
  gap: 1rem;
  font-size: 1.2rem;
  input {
    margin-right: 1rem;
  }
  .child-154xz{
    width: 30%;
  }
}

