.edit-car-nav-23r {
  background-color: #ffffff;
  margin: 10px 20px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 5px;

  a {
    color: #000000;
    text-decoration: none;
    font-size: 1.2rem;
    transition: font-size 0.3s ease, text-decoration 0.3s ease;

  }

  a:hover {
    color: blue;
    font-size: 1.3rem;
    text-decoration: underline;
  }
}

.edit-car-container-12s {
  width: 95%;
  margin: 0 auto;

  .edit-car-content-sa1 {
    width: 90%;
    margin: 2rem auto;
  }

}